* {
    box-sizing: border-box;
}

body {
    font-family: Railway, sans-serif;
    overflow-x: hidden;
}

section {
    color: #616161;
    padding: 70px 0 70px 0;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-bar {
    border: solid #444649 2px;
    width: 100px;
    margin: 10px auto 0;
}

.general-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
}

#home {
    height: calc(100vh + 52px);
}

#homeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 80%;
}

#home-content-container {
    text-align: center;
    color: #05C2C9;
    z-index: 10;
    width: 100%;
    font-size: 25px;
    line-height: 1.2em;
}

#homeName {
    color: #ff3605;
}

#homeButton {
    font-size: 18px;
    margin: 20px 0 53px 0;
    padding: 12px 15px;
    position: relative;
    color: white;
    background: #05C2C9;
    box-sizing: inherit;
    border-radius: 5px;
    border-color: #05C2C9;
}

nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 99;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Begin Hamburger Styling*/
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.opening {
    display: block;
    height: 30px;
}

nav a {
    color: white;
    background: #303030;
    display: block;
    padding: .75em 4em .75em 3em;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: #ff3605;
}

#site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

.hamburger-toggle {
    position: absolute;
    padding: 0.5em 0.8em;
    top: 1em;
    right: .5em;
    cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition:all ease-in-out 350ms;
    transition:all ease-in-out 350ms;
}

.hamburger::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.hamburger::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .hamburger::before {
    display: none;
}

.open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}
/*End Hamburger Styling*/

#about {
    background: white;
}

.wrapper {
    height: 100vh;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
}

.header {
    color: #444649;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 30px;
    position: relative;
}

#headshot {
    width: 250px;
    margin: 85px 0 15px 0;
}

.headshot-container ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

#hero-description {
    margin-top: 60px;
}

#about-icon-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.about-icon {
    width: 150px;
    height: 50px;
    font-size: 50px;
    margin: 25px 15px 10px 15px;
    text-align: center;
}

.about-icon p {
    font-size: 12px;
    margin: 10px;
}

.about-icon-header {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}

i {
    color: #05C2C9;
}

#background-description a {
    color: #ff3605;
    text-decoration: none;
}

#tech-text {
    margin: 20px 0 0 0;
}

.about-skills-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0;
    margin: 20px 0 0 20px;
    list-style: none;
    text-align: left;
}

.about-skills-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    /*font-size: 13px;*/
}

.about-skills-item::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #54c0de;
    font-size: 14px;
    line-height: 12px;
}

#projects {
    background: white;
}

#gallery-container {
    background: #54c0de;
    height: 70%;
    left: 0;
    position: absolute;
    bottom: 150px;
    transform: skewY(-6.5deg);
    width: 100%;
}

#gallery {
    transform: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 60px auto;
}

.project-tile {
    width: calc(50vw - 8px);
    margin: 4px;
}

.project-tile img {
    height: 100%;
    width: 100%;
    border: solid 1px #1b242f;
}

#contact {
    background: white;
    padding-top: 0;
    padding-bottom: 0;
}

#contact-wrapper {
    background: #374352;
    height: 90vh;
}

#contact-header {
    padding-top: 50px;
    color: white;
}

#contact-header-bar {
    border-color: white;
}

#contact-angled-feature {
    width: 100%;
    border-top: 100px solid white;
    border-left: solid #374352 50vw;
    border-right: solid #374352 50vw;
}

#contact-one-liner {
    color: #05C2C9;
    width: 80%;
    text-align: center;
    margin: 50px auto;
    font-size: .9em;
}

form {
    width: 95%;
    margin: 40px auto;
}

input, textarea {
    background: #29313D;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

textarea {
    height: 250px;
    resize: none;
}

#success {
    display: none;
}

#contact-button {
    border: solid white 2px;
    background-color: #374352;
    width: 100px;
    margin-top: 5px;
}

footer {
    background: #1b242f;
    padding: 30px 0 30px 0;
    position: relative;
}

#footer-social-wrapper {
    display: flex;
    justify-content: space-around;
}

.footer-social-icon {
    background: transparent;
    cursor: pointer;
    font-size: 18pt;
    height: 25px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 25px;
}

svg {
    color: #54c0de;
    fill: currentColor;
}

#footnote {
    color: #C2CDEC;
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
}

#footnote span {
    color: #ff3605;
}

@media (min-width: 780px) {
    #home-content-container {
        font-size: 40px;
    }
    #homeButton {
        font-size: 25px;
    }
    #hamburger {
        display: none;
    }
    #footer-social-wrapper {
        display: none;
    }
}
